@import "../global.js";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

html {
  width: auto;
  scroll-behavior: smooth;
}

html,
body {
  /* max-width: 100%; */
  overflow-x: clip;
}

body {
  line-height: 1.5;
  height: 100%;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

.navbar ul li a,
.navbar ul li a:after,
.navbar ul li a:before {
  transition: all 0.2s;
}

.navbar ul li a:hover {
  /* color: #555; */
  transform: translateY(5px);
}

.navbar ul li a {
  position: relative;
}
.navbar ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: black;
  height: 1px;
}
.navbar ul li a:hover:after {
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.navbar ul li a[aria-current="page"]::after {
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

h1 {
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  opacity: 1;
  transform: translateY(0px);
}

.circle_body {
  /* width: 100%;
  height: 100%; */
  /* border: 5px solid #333; */
  height: max-content;
  width: 100%;
  background: radial-gradient(
      50px circle at 100px 100px,
      #ffffff 50%,
      transparent 51%
    ),
    radial-gradient(
      800px circle at 400px 20px,
      rgba(153, 93, 203, 0.4) 0%,
      rgba(255, 255, 255, 0) 30%
    ),
    radial-gradient(
      400px circle at 1200px 250px,
      rgba(118, 181, 197, 0.3) 0%,
      rgba(255, 255, 255, 0) 36%
    ),
    radial-gradient(
      600px circle at 100px 500px,
      rgba(243, 240, 79, 0.3) 0%,
      rgba(255, 255, 255, 0) 36%
    ),
    radial-gradient(
      500px circle at 1300px 600px,
      rgba(205, 111, 180, 0.3) 0%,
      rgba(255, 255, 255, 0) 46%
    ),
    radial-gradient(
      900px circle at 1350px 1550px,
      rgba(153, 93, 203, 0.2) 0%,
      rgba(255, 255, 255, 0) 30%
    ),
    radial-gradient(
      700px circle at 250px 1050px,
      rgba(118, 181, 197, 0.3) 0%,
      rgba(255, 255, 255, 0) 36%
    ),
    radial-gradient(
      300px circle at 250px 1650px,
      rgba(205, 111, 180, 0.1) 0%,
      rgba(255, 255, 255, 0) 46%
    ),
    radial-gradient(
      800px circle at 100px 2350px,
      rgba(243, 240, 79, 0.2) 0%,
      rgba(255, 255, 255, 0) 36%
    ),
    radial-gradient(
      700px circle at 1300px 2650px,
      rgba(118, 181, 197, 0.3) 0%,
      rgba(255, 255, 255, 0) 36%
    );
}

.main-container {
  /* height: 100vh; */
  display: flex;
  flex: 1;
  flex-direction: column;
}
.skills__icon {
  color: grey;
  opacity: 0.6;
  font-size: 70px;
}

.fa-git {
  font-size: 60px;
}
/* NAVIGATION BAR */
.navbar {
  background: transparent;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 60px;
}

.navbar__links {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  font-size: 1rem;
}

/* INTRO SECTION */
/* transition */
.intro {
  display: flex;
  justify-content: center;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  transform: translateY(100px);
  align-items: center;
  opacity: 0;
  /* height: 100vh; */
  /* height: 100%; */
  /* padding-top: 80px; */
}

.intro__container {
  align-self: center;
  display: flex;
  justify-content: center;
  /* width: 120vh; */
  /* padding: 15px 50px; */
  flex-direction: column;
  /* position: absolute; */
  z-index: 100;
  height: calc(100vh - 80px);
}

.intro__content {
  justify-content: center;
  align-self: center;
  padding: 0 50px;
}

.intro__content p {
  font-size: 1.4rem;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  transform: translateY(100px);
  opacity: 0;
  max-width: 600px;
}

.intro__greetings {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.intro__greetings p {
  font-size: 14px;
  line-height: 25px;
}
.intro__content {
  z-index: 10;
}

.intro__content h2 {
  color: black;
}

/* ABOUT ME SECTION */
.aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutme__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  height: 100vh;
}

.aboutme__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  height: max-content;
}

.aboutme__content h2 {
  font-size: 20px;
}
.profile_round {
  display: inline;
  margin: 0 auto;
  height: 250px;
  width: auto;
  clip-path: circle(0.5% at 50% 50%);
  opacity: 0;
  transform: translateY(100px);
  padding: 20px;
}
.aboutme__title {
  display: flex;
  height: 100%;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  transform: translateY(100px);
  opacity: 0;
}

.aboutme__text_container {
  flex-wrap: wrap;
  flex-direction: column;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  transform: translateY(100px);
  opacity: 0;
  display: flex;
  align-items: center;
  max-width: 900px;
}

.aboutme__text_container p {
  line-height: 25px;
  font-size: 14px;
  text-align: center;
}

/* SKILLS SECTION */
.skills {
  display: flex;
  position: relative;
  justify-content: center;
}

.skills__container {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  height: 100vh;
}

.skills__content {
  row-gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
}

.skills__title {
  display: flex;
  text-align: center;
  align-self: center;
  flex-direction: column;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  transform: translateY(100px);
  opacity: 0;
  row-gap: 10px;
}

.skills__title h2 {
  color: black;
  font-weight: 600px;
  /* font-size: 2.5rem; */
  font-size: 20px;
  /* line-height: 25px; */
}

.lang__content {
  /* display: flex; */
  justify-content: space-between;
  height: 130px;
  flex-direction: row;
  align-self: center;
  /* background-color: antiquewhite; */
  align-items: center;
}

.lang__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  align-self: center;
  height: 100%;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  transform: translateY(100px);
  opacity: 1;
}

.lang__text {
  /* display: flex; */
  /* padding: 0 2rem; */
  font-size: 14px;
  text-align: center;
}

.skill__img {
  opacity: 0.6;
  height: 50px;
  /* width: 70px; */
  color: gray;
}

.lang__item {
  /* margin: 0 15px; */
  width: 70px;
  height: 70px;
  align-items: center;
  justify-content: flex-end;
  justify-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

/* PROJECTS SECTION */
.projects {
  display: flex;
  /* align-items: center; */
  position: relative;
  justify-content: center;
}

.projects__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.projects__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  height: max-content;
  padding: 0 50px;
}

.projects__title {
  /* display: flex; */
  /* height: 100%; */
  text-align: center;
  align-self: center;
  flex-direction: column;
  /* margin-bottom: 0px; */
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  transform: translateY(100px);
  opacity: 0;
}

.projects__title h2 {
  color: black;
  font-size: 20px;
}

.projects_cards {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
  max-width: 1500px;

  /* margin-bottom: 300px; */
}

.project__name {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 24px */
}
.project__name {
  color: black;
}

.project__card {
  display: flex;
  width: 100%;
  height: 240px;
  /* max-width: 480px; */
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  /* position: relative; */
  margin-bottom: 30px;
  border-radius: 20px;
  background: #fff;
  opacity: 1;
}

.project__tag {
  color: #9009ff;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 16.8px */
}

.project__card:hover .project__name {
  font-size: 22px;
  transition: ease-in-out 0.2s;
}
.project__img_bee {
  width: 100px;
  opacity: 0.8;
  /* background-color: grey; */
  z-index: 6;
  flex-shrink: 0;
}

.project__img_pill {
  width: 90px;
  /* height: 88.272px; */
  flex-shrink: 0;
}

.project__text_container {
  display: flex;
  width: 237px;
  height: 177px;
  padding: 101px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  flex-shrink: 0;
}

.project__desc {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}

.project__read_container {
  display: flex;
  padding: 7px 23px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #995dcb;
  margin-top: 5px;
}

.project__read_container:hover {
  cursor: pointer;
}

/* CONNECT SECTION */
.connect {
  display: flex;
  height: 50vh;
  position: relative;
  justify-content: center;
}

.connect__container {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 0 50px;
  flex-direction: row;
  flex-direction: column;
  row-gap: 10px;
}

.connect__title {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  transform: translateY(100px);
  opacity: 0;
}
.connect__title h1 {
  font-size: 24px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.connect__icons {
  /* padding: 0 20px; */
  display: flex;
  /* height: 20vh; */
  justify-content: space-between;
  align-items: center;
}

.connect__icon {
  color: #995dcb;
  /* opacity: 0.7; */
  font-size: 30px;
}

.connect span {
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-align: center;

  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.icon:hover span {
  background-color: #995dcb;
  animation: expandOut 0.1s linear;
}

.icon:hover span .connect__icon {
  color: #ffffff;
}

@keyframes expandOut {
  0% {
    opacity: 0;
    clip-path: circle(0% at 50% 50%);
  }
  100% {
    opacity: 1;
    clip-path: circle(50% at 50% 50%);
  }
}

.skills__icon {
  color: grey;
  opacity: 0.6;
  font-size: 50px;
}

@media screen and (min-width: 480px) {
  h1 {
    font-size: 28px;
  }

  .aboutme__content h2,
  .skills__title h2,
  .projects__title h2 {
    font-size: 24px;
  }

  .connect__container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
  }
  .connect__title h1 {
    text-align: left;
    font-size: 28px;
  }

  .connect__title {
    width: 40%;
  }
  .icon {
    margin-left: 15px;
  }

  .icon:nth-child(1) {
    margin-left: 0px;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 40px;
  }
  .connect__title {
    width: 50%;
  }
  .connect__title h1 {
    font-size: 40px;
  }

  .aboutme__content h2,
  .skills__title h2,
  .projects__title h2 {
    font-size: 30px;
  }

  .aboutme__text_container p,
  .intro__greetings p,
  p {
    font-size: 18px;
  }

  .intro__content,
  .aboutme__content,
  .skills__content,
  .projects__content,
  .connect__container {
    padding: 0 100px;
  }

  .aboutme__text_container {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .aboutme__text_container p {
    text-align: left;
  }

  .lang__list {
    width: 70%;
  }
  .lang__item {
    width: 90px;
    height: 90px;
  }

  .skills__icon {
    font-size: 70px;
  }
  .skill__img {
    height: 70px;
  }

  .projects_cards {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .project__card {
    margin-bottom: 0;
  }
  .project__card:nth-child(1) {
    margin-right: 20px;
  }
  .project__card:last-child {
    margin-left: 20px;
  }
  .icon {
    margin-left: 30px;
  }

  .icon:nth-child(1) {
    margin-left: 0px;
  }

  .connect span {
    height: 80px;
    width: 80px;
  }

  .connect__icon {
    font-size: 40px;
  }
}
