* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:
    "gt",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

html {
  width: auto;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: clip;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
.navbar ul li a,
.navbar ul li a:after,
.navbar ul li a:before {
  transition: all 0.2s;
}

.img-container img {
  height: 280px;
}

.img-container-wavescan {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.gif {
  border-radius: 10px;
  width: 100%;
}

.navbar ul li a:hover {
  /* color: #555; */
  transform: translateY(5px);
}

.navbar ul li a {
  position: relative;
}
.navbar ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: black;
  height: 1px;
}
.navbar ul li a:hover:after {
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.navbar ul li a[aria-current="page"]::after {
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

body {
  line-height: 25px;
}

.fa-solid,
.fa-brands {
  color: grey;
  opacity: 0.6;
  font-size: 50px;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 20px;
  text-align: center;
}

p,
li {
  font-size: 14px;
  text-align: center;
}

/* NAVIGATION BAR */
.navbar {
  background: transparent;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 60px;
}

.navbar__links {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  font-size: 1rem;
}

.title {
  display: flex;
  /* align-items: center; */
  /* height: 100vh; */
  /* padding-bottom: 150px; */
  /* top: 100vh; */
  position: relative;
  justify-content: center;
}

.projects-header {
  display: flex;
  justify-content: center;
  /* height: 30vh; */
  align-items: center;
  flex-direction: column;
  height: 20vh;
  row-gap: 10px;
}

.menu {
  /* height: 100vh; */
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  transform: translateY(100px);
  opacity: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu.is-dragging {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.topBtn-container {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 87%;
  margin-left: 85%;

  z-index: 199;
  cursor: pointer;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  transform: translateY(100px);
  opacity: 0;
}

#topBtn {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  /* z-index: 100; */
}

#topBtn:hover {
  background-color: #995dcb;
  height: 51px;
  width: 51px;
}

#topBtn:hover .fa-chevron-up {
  color: white;
}
.fa-chevron-up {
  font-size: 30px;
}

.menu--wrapper {
  height: 300px;
  overflow: hidden;
  cursor: -webkit-grab;
  cursor: grab;
  counter-reset: count;
  list-style: none;
}

.menu--item {
  counter-increment: count;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 2rem;
  line-height: 1.2;
  padding: 2rem 0;
  text-align: center;
}

.menu--item:nth-child(n + 10):before {
  content: counter(count);
}

.menu--item a {
  color: #fff;
  text-decoration: none;
  position: relative;
  z-index: 1;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 28px;
  -webkit-appearance: none;
  background: none;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  /* letter-spacing: -4px; */
  color: #000;
  /* font-family: "Voyage", serif; */
  cursor: pointer;
}

.menu--item a:before {
  position: absolute;
  z-index: -1;
  top: -24px;
  left: 0;
  display: inline-block;
  transform: translateX(-100%) scale(0.5);
  content: "0" counter(count);
  color: rgb(139, 139, 139);
}

.menu--item a:hover {
  font-weight: bold;
}

.project {
  display: flex;
  /* align-items: center; */
  /* height: 100vh; */
  /* padding-bottom: 150px; */
  /* top: 100vh; */
  /* position: relative; */
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  width: 100%;
  padding: 0px 50px;
  z-index: 100;
  margin: 120px 0;
}

.text-container {
  display: flex;
  flex-direction: column;
  top: 30%;
  /* position: -webkit-sticky; */
  /* position: sticky; */
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* padding: 10px 10px; */
  /* padding: 40px; */
}

.desc-text-container {
  width: 300px;
}
.project-title {
  margin-bottom: 20px;
  color: black;
}

.github-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  /* background-color: #995dcb; */
  border-radius: 15px;
  padding: 5px 15px;
  border: 2px solid gray;
  margin-bottom: 25px;
  background: transparent; /* default color */

  /* "to left" / "to right" - affects initial color */
  background: linear-gradient(to left, transparent 50%, #995dcb 50%) right;
  background-size: 200%;
  transition: 0.2s ease-out;
}

.github-link i {
  font-size: 30px;
  color: grey;
}

.github-link p {
  color: grey;
}

.github-link:hover {
  background-position: left;
}
.github-link:hover p {
  color: white;
}

.github-link:hover i {
  color: white;
}

.img-container {
  /* width: 2000px; */
  height: 100%;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

.feature-container {
  margin: 10px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.feature-container ul {
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech__stack {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.tech__stack_icon {
  padding: 5px 10px;
}
.firebase__img {
  opacity: 0.6;
  height: 60px;
}

.javafx_img {
  opacity: 0.6;
  height: 70px;
}
.greensock-container {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  align-items: center;
  justify-content: center;
}
.greensock_img {
  opacity: 0.6;
  height: 45px;
  width: 45px;
}
.greensock-container span {
  font-size: 0.8rem;
  opacity: 0.8;
  color: grey;
}

.github__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.github__link a {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #995dcb;
  border-radius: 15px;
  padding: 10px 10px;
  column-gap: 10px;
  width: fit-content;
}

.github__link i {
  color: white;
  font-size: 30px;
}
.github__link p {
  color: white;
}

/* MEDIA SCREEN 480PX */
@media screen and(min-width: 480px) {
  h1 {
    font-size: 3rem;
    line-height: 120%;
  }
  h2 {
    font-size: 24px;
  }
  .projects-header {
    height: 20vh;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    line-height: 120%;

    font-size: clamp(3.2rem, 0.5692rem + 8.238vw, 13.75rem);
  }
  h2 {
    font-size: 30px;
    text-align: left;
  }
  p,
  li {
    font-size: 18px;
    text-align: left;
  }
  .container {
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 20px;
  }
  .text-container {
    position: sticky;
    position: -webkit-sticky;
    align-items: start;
  }

  .desc-text-container {
    width: 100%;
  }

  .feature-container {
    align-items: start;
  }
  .feature-container ul {
    align-items: start;
  }
  .img-container img {
    height: 500px;
  }
  .tech__stack {
    /* align-items: start; */
    justify-content: start;
  }

  .duke .desc-text-container {
    width: 60%;
  }
  .portfolio .text-container {
    align-items: center;
    justify-content: center;
  }
  .portfolio .desc-text-container {
    width: 50%;
    align-items: center;
    justify-content: center;
  }
  .portfolio p {
    text-align: center;
  }
  .portfolio .tech__stack {
    align-items: center;
    justify-content: center;
  }
  .container {
    padding: 0 100px;
  }
  .wavescan .img-container {
    display: flex;
    /* align-items: end; */
    justify-content: end;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: 0;
  }
  .gif {
    scale: 0.8;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 200px;
  }
  .img-container img {
    height: 600px;
  }

  .topBtn-container {
    margin-left: 90%;
  }
}
