* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

html {
  width: auto;
  scroll-behavior: smooth;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
.navbar ul li a,
.navbar ul li a:after,
.navbar ul li a:before {
  transition: all 0.5s;
}
.navbar ul li a:hover {
  color: #555;
}

.navbar ul li a {
  position: relative;
}
.navbar ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #aaa;
  height: 1px;
}
.navbar ul li a:hover:after {
  width: 100%;
}
html,
body {
  /* overflow-x: hidden; */
}

body {
  line-height: 1.5;
}

.fa-solid,
.fa-brands {
  color: grey;
  opacity: 0.6;
  font-size: 50px;
}

/* TRANSITIONS */
.hidden {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
}

.show {
  opacity: 1;
  filter: blur(0);
}

.hiddenleft {
  opacity: 0;
  transition: all 1s;
  transform: translateX(-100%);
  filter: blur(5px);
}

.showleft {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}

.hiddenright {
  opacity: 0;
  transition: all 1s;
  transform: translateX(100%);
  filter: blur(5px);
}
.showright {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}

.revealUp {
  opacity: 0;
  visibility: hidden;
}

/* NAVIGATION BAR */
.navbar {
  background: transparent;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 60px;
}

.navbar__links {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  font-size: 1rem;
}

.title {
  display: flex;
  /* align-items: center; */
  /* height: 100vh; */
  /* padding-bottom: 150px; */
  /* top: 100vh; */
  position: relative;
  justify-content: center;
}

.title__container {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  width: 160vh;
  height: 300px;
  padding: 15px 50px;
  flex-direction: column;
  /* position: absolute; */
  z-index: 100;
  flex-direction: row;
  position: sticky;
  /* height: 200vh; */
  align-items: center;
}

.title h1 {
  /* color: #995dcb; */
  font-size: 4rem;
  word-spacing: -4px;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  transform: translateY(100px);
  opacity: 0;
}

.beez {
  display: flex;
  /* align-items: center; */
  /* height: 100vh; */
  /* padding-bottom: 150px; */
  /* top: 100vh; */
  /* position: relative; */
  justify-content: center;
}

.beez__container {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  width: 160vh;
  padding: 15px 50px;
  /* position: absolute; */
  z-index: 100;
  flex-direction: row;
  /* height: 200vh; */
  margin-bottom: 300px;
}

.beez__text_container {
  display: flex;
  flex-direction: column;
  top: 30%;
  position: -webkit-sticky;
  position: sticky;
  height: 100%;
  width: 300px;
  justify-content: center;
  /* align-items: center; */
  padding: 10px 10px;
  /* background-color: aquamarine; */
  /* padding: 40px; */
}

.beez__title {
  padding: 10px 0px;
  /* background-color: aqua; */
}
.beez__title h2 {
  font-size: 2.5rem;
}

.tech__stack {
  padding: 10px 0px;
  display: flex;
  align-items: center;

  /* justify-content: center; */
  width: 100%;
}

.tech__stack_icon {
  padding: 5px 10px;
}
.firebase__img {
  opacity: 0.6;
  height: 60px;
}

.beez__img_container {
  width: 2600px;
  height: 100%;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.beez__img {
  height: 650px;
  /* position: r; */
}

.morphine {
  display: flex;
  /* align-items: center; */
  /* height: 100vh; */
  /* padding-bottom: 150px; */
  /* top: 100vh; */
  /* position: relative; */
  justify-content: center;
}

.morphine__container {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  width: 160vh;
  padding: 15px 50px;
  flex-direction: column;
  z-index: 100;
  flex-direction: row;
  /* height: 200vh; */
  margin-bottom: 300px;
}

.morphine__text_container {
  display: flex;
  flex-direction: column;
  top: 30%;
  position: -webkit-sticky;
  position: sticky;
  height: 100%;
  width: 300px;
  justify-content: center;
  /* align-items: center; */
  padding: 10px 10px;
  /* background-color: aquamarine; */
  /* padding: 40px; */
}

.morphine__title {
  padding: 10px 0px;
}
.morphine__title h2 {
  font-size: 2.5rem;
}

.morphine__img_container {
  width: 2600px;
  height: 100%;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.morphine__img {
  height: 650px;
  /* position: r; */
}

/* MEDIA SCREEN 1180px */
@media screen and (max-width: 1180px) {
  .title__container {
    width: 130vh;
    padding: 15px 20px;
    z-index: 1;
  }

  .beez__container {
    width: 130vh;
    padding: 15px 20px;
    z-index: 1;
    /* background-color: yellowgreen; */
  }
  .beez__text_container {
    /* padding: 10px 20px; */
    width: 230px;
  }
  .beez__title h2 {
    font-size: 2.3rem;
  }
  .beez__img {
    height: 600px;
    /* position: r; */
  }
  .morphine__container {
    width: 130vh;
    padding: 15px 20px;
    z-index: 1;
    /* background-color: yellowgreen; */
  }
  .morphine__text_container {
    /* padding: 10px 20px; */
    width: 230px;
  }
  .morphine__title h2 {
    font-size: 2.3rem;
  }
  .morphine__img {
    height: 600px;
    /* position: r; */
  }
}

/* MEDIA SCREEN 960px */
@media screen and (max-width: 1000px) {
  .title__container {
    width: 110vh;
    padding: 15px 20px;
    z-index: 1;
  }

  .beez__container {
    width: 110vh;
    padding: 15px 20px;
    z-index: 1;
    /* background-color: yellowgreen; */
  }
  .beez__text_container {
    /* padding: 10px 20px; */
    width: 230px;
  }
  .beez__title h2 {
    font-size: 2rem;
  }
  .beez__img {
    height: 550px;
    /* position: r; */
  }

  .morphine__container {
    width: 110vh;
    padding: 15px 20px;
    z-index: 1;
    /* background-color: yellowgreen; */
  }
  .morphine__text_container {
    /* padding: 10px 20px; */
    width: 230px;
  }
  .morphine__title h2 {
    font-size: 2rem;
  }
  .morphine__img {
    height: 550px;
    /* position: r; */
  }
}

/* MEDIA SCREEN 860PX */
@media screen and (max-width: 860px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    /* height: 80px; */
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
    /* margin-bottom: 100px; */
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    padding-bottom: 10px;
    /* padding-top: 0; */
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    /* height: 100%; */
    z-index: -1;
    /* background-color: black; */
  }

  .navbar__menu.active {
    background: white;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    font-size: 1.2rem;
    margin-top: 0;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
      rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
      rgba(0, 0, 0, 0.07) 0px 16px 16px;
  }
  .navbar__menu.active .navbar__links {
    color: black;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: black;
    display: block;
    cursor: pointer;
  }

  .navbar__container.active .bar {
    background: black;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 1rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__container.active {
    background: white;
    transition: all 0.8s ease;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar ul li a,
  .navbar ul li a:after,
  .navbar ul li a:before {
    transition: all 0.5s;
  }
  .navbar ul li a:hover {
    color: #555;
  }

  .navbar ul li a {
    position: relative;
  }
  .navbar ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: ".";
    color: transparent;
    background: #aaa;
    height: 1px;
  }
  .navbar ul li a:hover:after {
    width: 10%;
  }

  .title__container {
    width: 100vh;
    padding: 15px 50px;
    z-index: 1;
  }

  .title__container h1 {
    font-size: 2.5rem;
  }

  .beez__container {
    width: 100vh;
    padding: 15px 50px;
    z-index: 1;
    /* background-color: yellowgreen; */
  }

  .beez__text_container {
    /* padding: 10px 20px; */
    width: 230px;
  }

  .beez__desc_text p {
    font-size: 1rem;
  }
  .beez__title h2 {
    font-size: 1.8rem;
  }

  .beez__img {
    height: 420px;
    /* position: r; */
  }

  .morphine__container {
    width: 100vh;
    padding: 15px 50px;
    z-index: 1;
    /* background-color: yellowgreen; */
  }

  .morphine__text_container {
    /* padding: 10px 20px; */
    width: 230px;
  }

  .morphine__desc_text p {
    font-size: 1rem;
  }
  .morphine__title h2 {
    font-size: 1.8rem;
  }

  .morphine__img {
    height: 420px;
    /* position: r; */
  }
}

/* MEDIA SCREEN 630PX */
@media screen and (max-width: 650px) {
  .title__container {
    width: 80%;
    padding: 15px 50px;
    z-index: 1;
  }

  .title__container h1 {
    font-size: 1.6rem;
  }

  .beez__container {
    width: 80%;
    padding: 15px 50px;
    z-index: 1;
    flex-direction: column;
    /* background-color: yellowgreen; */
    justify-content: center;
    align-items: center;
  }

  .beez__text_container {
    /* padding: 10px 20px; */
    width: 230px;
    position: relative;
    width: 400px;
    align-items: center;
    justify-content: center;
  }

  .beez__desc_text {
    align-items: center;
    text-align: center;
  }

  .tech__stack {
    align-items: center;
    justify-content: center;
  }

  .beez__desc_text p {
    font-size: 0.8rem;
  }

  .beez__title h2 {
    font-size: 1.4rem;
  }

  .beez__img {
    height: 380px;
    /* position: r; */
  }

  .beez__img_container {
    width: 430px;
    height: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .fa-solid,
  .fa-brands {
    color: grey;
    opacity: 0.6;
    font-size: 40px;
  }

  .firebase__img {
    opacity: 0.6;
    height: 50px;
  }
  .morphine__container {
    width: 80%;
    padding: 15px 50px;
    z-index: 1;
    flex-direction: column;
    /* background-color: yellowgreen; */
    justify-content: center;
    align-items: center;
  }

  .morphine__text_container {
    /* padding: 10px 20px; */
    width: 230px;
    position: relative;
    width: 400px;
    align-items: center;
    justify-content: center;
  }

  .morphine__desc_text {
    align-items: center;
    text-align: center;
  }

  .morphine__desc_text p {
    font-size: 0.8rem;
  }

  .morphine__title h2 {
    font-size: 1.4rem;
  }

  .morphine__img {
    height: 380px;
    /* position: r; */
  }

  .morphine__img_container {
    width: 430px;
    height: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* MEDIA SCREEN 480PX */
@media screen and (max-width: 480px) {
  html,
  body {
    overflow-x: hidden;
  }
  .title {
    align-items: center;
  }

  .title__container {
    width: 80%;
    /* padding: 15px 20px; */
    z-index: 1;
    /* align-self: center; */
  }

  .title__container h1 {
    font-size: 1.6rem;
  }

  .beez__container {
    width: 80%;
    padding: 15px 20px;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .beez__text_container {
    /* padding: 10px 20px; */
    width: 100%;
    position: relative;
    /* width: 400px; */
    align-items: center;
    justify-content: center;
  }

  .beez__desc_text {
    align-items: center;
    text-align: center;
  }

  .tech__stack {
    align-items: center;
    justify-content: center;
  }

  .beez__desc_text p {
    font-size: 0.8rem;
  }

  .beez__title h2 {
    font-size: 1.2rem;
  }

  .beez__img {
    height: 310px;
    /* position: r; */
  }

  .beez__img_container {
    width: 430px;
    height: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .fa-solid,
  .fa-brands {
    color: grey;
    opacity: 0.6;
    font-size: 40px;
  }

  .firebase__img {
    opacity: 0.6;
    height: 50px;
  }
  .morphine__container {
    width: 80%;
    padding: 15px 20px;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .morphine__text_container {
    /* padding: 10px 20px; */
    width: 100%;
    position: relative;
    /* width: 400px; */
    align-items: center;
    justify-content: center;
  }

  .morphine__desc_text {
    align-items: center;
    text-align: center;
  }

  .morphine__desc_text p {
    font-size: 0.8rem;
  }

  .morphine__title h2 {
    font-size: 1.2rem;
  }

  .morphine__img {
    height: 310px;
    /* position: r; */
  }

  .morphine__img_container {
    width: 430px;
    height: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
