* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

html {
  width: auto;
  scroll-behavior: smooth;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
.navbar ul li a,
.navbar ul li a:after,
.navbar ul li a:before {
  transition: all 0.2s;
}

.navbar ul li a:hover {
  /* color: #555; */
  transform: translateY(5px);
}

.navbar ul li a {
  position: relative;
}
.navbar ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: black;
  height: 1px;
}
.navbar ul li a:hover:after {
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.navbar ul li a[aria-current="page"]::after {
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
html,
body {
  /* overflow-x: hidden; */
}

body {
  line-height: 1.5;
}

.fa-solid,
.fa-brands {
  color: grey;
  opacity: 0.6;
  font-size: 50px;
}

/* NAVIGATION BAR */
.navbar {
  background: transparent;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 60px;
}

.navbar__links {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  font-size: 1rem;
}

.title {
  display: flex;
  /* align-items: center; */
  /* height: 100vh; */
  /* padding-bottom: 150px; */
  /* top: 100vh; */
  position: relative;
  justify-content: center;
}

.scroll {
  display: flex;
  /* align-items: center; */
  /* height: 100vh; */
  margin-bottom: 150px;
  /* top: 100vh; */
  position: relative;
  justify-content: center;
}

.scroll a:link {
  text-decoration: none;
}
.scroll a:visited {
  text-decoration: none;
}

.scroll__links {
  color: black;
}

.scroll__container,
.scroll__page {
  background-color: lightgrey;
  max-width: 850px;
  margin: 0 auto;
  height: 80px;
  width: 450px;
  font-size: 2.5rem;
  border-radius: 50px;
}

.scroll__container {
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.scroll__page {
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  animation: animate 5s linear;

  /* height: 150px; */
}

.menu {
  height: 100vh;
  overflow: hidden;
  cursor: -webkit-grab;
  cursor: grab;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  transform: translateY(100px);
  opacity: 0;
}
.menu.is-dragging {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.menu ul {
  counter-reset: count;
  list-style: none;
}

.menu--wrapper {
  position: relative;
  /* background-color: aquamarine; */
}
.menu--item {
  counter-increment: count;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 120px;
  line-height: 1.2;
  padding: 2rem 0;
  text-align: center;
}
@media (max-width: 767px) {
  .menu--item {
    font-size: 10vw;
    padding: 1rem 0;
  }
}

.menu--item:nth-child(n + 10):before {
  content: counter(count);
}

.menu--item a {
  color: #fff;
  text-decoration: none;
  position: relative;
  z-index: 1;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 3rem;
  -webkit-appearance: none;
  background: none;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  /* letter-spacing: -4px; */
  color: #000;
  /* font-family: "Voyage", serif; */
  cursor: pointer;
}

@media (max-width: 767px) {
  .menu--item button {
    font-size: 10vw;
  }
}
.menu--item a:before {
  position: absolute;
  z-index: -1;
  top: -24px;
  left: 0;
  display: inline-block;
  transform: translateX(-100%) scale(0.5);
  content: "0" counter(count);
  color: rgb(139, 139, 139);
}

.menu--item a:hover {
  font-weight: bold;
}

.project {
  display: flex;
  /* align-items: center; */
  /* height: 100vh; */
  /* padding-bottom: 150px; */
  /* top: 100vh; */
  /* position: relative; */
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  width: 90%;
  top: 180px;
  padding: 85px 50px;
  /* flex-direction: column; */
  z-index: 100;
  flex-direction: row;
  /* height: 200vh; */
  margin-bottom: 300px;
  justify-content: space-evenly;
}

.text-container {
  display: flex;
  flex-direction: column;
  top: 30%;
  position: -webkit-sticky;
  position: sticky;
  height: 100%;
  width: 100%;
  justify-content: center;
  /* align-items: center; */
  /* padding: 10px 10px; */
  /* padding: 40px; */
}

.desc-text-container {
  width: 300px;
}
.project-title {
  padding: 10px 0px;
}

.project-title h2 {
  font-size: 2.5rem;
}

.img-container {
  width: 2000px;
  height: 100%;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feature-container {
  margin: 10px 0;
}
ul {
  list-style-position: inside;
}

.tech__stack {
  padding: 10px 0px;
  display: flex;
  align-items: center;

  /* justify-content: center; */
  width: 100%;
}

.tech__stack_icon {
  padding: 5px 10px;
}
.firebase__img {
  opacity: 0.6;
  height: 60px;
}

.beez__img {
  height: 600px;
  /* position: r; */
}

.morphine__img {
  height: 650px;
}

.duke__img {
  /* height: 650px; */
  width: 500px;
}

.javafx_img {
  opacity: 0.6;
  height: 70px;
}
.greensock-container {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  align-items: center;
  justify-content: center;
}
.greensock_img {
  opacity: 0.6;
  height: 45px;
  width: 45px;
}
.greensock-container span {
  font-size: 0.8rem;
}

.portfolio-tech__stack {
  margin: 10px 0;
}

/* MEDIA SCREEN 860PX */
@media screen and (max-width: 860px) {
  .project {
    display: flex;
    /* align-items: center; */
    /* height: 100vh; */
    /* padding-bottom: 150px; */
    /* top: 100vh; */
    /* position: relative; */
    justify-content: center;
  }

  .container {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
    width: 90%;
    top: 180px;
    padding: 85px 50px;
    /* flex-direction: column; */
    z-index: 100;
    flex-direction: row;
    /* height: 200vh; */
    margin-bottom: 300px;
    justify-content: space-evenly;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    top: 30%;
    position: -webkit-sticky;
    position: sticky;
    height: 100%;
    width: 100%;
    justify-content: center;
    /* align-items: center; */
    /* padding: 10px 10px; */
    /* padding: 40px; */
  }

  .desc-text-container {
    width: 300px;
  }
  .project-title {
    padding: 10px 0px;
  }

  .project-title h2 {
    font-size: 2.5rem;
  }

  .img-container {
    width: 2000px;
    height: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .feature-container {
    margin: 10px 0;
  }
  ul {
    list-style-position: inside;
  }

  .tech__stack {
    padding: 10px 0px;

    /* justify-content: center; */
    width: 100%;
  }

  .tech__stack_icon {
    padding: 5px 10px;
  }
  .firebase__img {
    opacity: 0.6;
    height: 60px;
  }

  .beez__img {
    height: 600px;
    /* position: r; */
  }

  .morphine__img {
    height: 650px;
  }

  .duke__img {
    /* height: 650px; */
    width: 450px;
  }

  .javafx_img {
    opacity: 0.6;
    height: 70px;
  }
}

/* MEDIA SCREEN 630PX */
@media screen and (max-width: 650px) {
  .menu {
    height: 100vh;
    overflow: hidden;
    cursor: -webkit-grab;
    cursor: grab;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    transform: translateY(100px);
    opacity: 0;
  }
  .menu.is-dragging {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  .menu ul {
    counter-reset: count;
    list-style: none;
  }

  .menu--wrapper {
    position: relative;
  }
  .menu--item {
    counter-increment: count;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 80px;
    line-height: 1.2;
    padding: 2rem 0;
    text-align: center;
  }

  .menu--item a {
    text-decoration: none;
    position: relative;
    z-index: 1;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 2rem;
    -webkit-appearance: none;
    background: none;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    /* letter-spacing: -4px; */
    color: #000;
    /* font-family: "Voyage", serif; */
    cursor: pointer;
  }

  .project {
    display: flex;
    /* align-items: center; */
    /* height: 100vh; */
    /* padding-bottom: 150px; */
    /* top: 100vh; */
    /* position: relative; */
    justify-content: center;
  }

  .container {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
    width: 90%;
    top: 180px;
    padding: 85px 50px;
    /* flex-direction: column; */
    z-index: 100;
    flex-direction: column;
    /* height: 200vh; */
    margin-bottom: 300px;
    justify-content: space-evenly;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    top: 30%;
    position: relative;
    height: 100%;
    width: 100%;
    justify-content: center;
    /* align-items: center; */
    /* padding: 10px 10px; */
    /* padding: 40px; */
    align-items: center;
  }

  .desc-text-container {
    width: 300px;
    text-align: center;
  }
  .project-title {
    padding: 10px 0px;
  }

  .project-title h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  li {
    font-size: 1rem;
  }

  .img-container {
    padding-top: 50px;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .feature-container {
    margin: 10px 0;
  }
  ul {
    list-style-position: inside;
  }

  .tech__stack {
    padding: 10px 0px;
    display: flex;
    align-items: normal;
    justify-content: center;
    width: 100%;
  }

  .tech__stack_icon {
    padding: 5px 10px;
  }
  .firebase__img {
    opacity: 0.6;
    height: 60px;
  }

  .beez__img {
    height: 600px;
    /* position: r; */
  }

  .morphine__img {
    height: 650px;
  }

  .duke__img {
    /* height: 650px; */
    width: 400px;
  }

  .javafx_img {
    opacity: 0.6;
    height: 70px;
  }

  .beez__img {
    height: 380px;
    /* position: r; */
  }

  .fa-solid,
  .fa-brands {
    color: grey;
    opacity: 0.6;
    font-size: 40px;
  }

  .firebase__img {
    opacity: 0.6;
    height: 50px;
  }

  .morphine__img {
    height: 380px;
    /* position: r; */
  }
}
/* MEDIA SCREEN 480PX */
@media screen and (max-width: 480px) {
  html {
    overflow-x: hidden;
  }

  .menu {
    height: 100vh;
    overflow: unset;
    cursor: none;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    transform: translateY(100px);
    opacity: 0;
    background-color: aliceblue;
  }
  .menu.is-dragging {
    cursor: none;
    cursor: none;
  }
  .menu ul {
    counter-reset: count;
    list-style: none;
  }

  .menu--wrapper {
    position: relative;
  }
  .menu--item {
    counter-increment: count;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 120px;
    line-height: 1.2;
    padding: 2rem 0;
    text-align: center;
  }

  .project {
    display: flex;
    /* align-items: center; */
    /* height: 100vh; */
    /* padding-bottom: 150px; */
    /* top: 100vh; */
    /* position: relative; */
    justify-content: center;
  }

  .container {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
    width: 90%;
    top: 180px;
    padding: 85px 50px;
    /* flex-direction: column; */
    z-index: 100;
    flex-direction: column;
    /* height: 200vh; */
    margin-bottom: 300px;
    justify-content: space-evenly;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    top: 30%;
    position: relative;
    height: 100%;
    width: 100%;
    justify-content: center;
    /* align-items: center; */
    /* padding: 10px 10px; */
    /* padding: 40px; */
    align-items: center;
  }

  .desc-text-container {
    width: 300px;
    text-align: center;
  }
  .project-title {
    padding: 10px 0px;
  }

  .project-title h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  li {
    font-size: 1rem;
  }

  .img-container {
    padding-top: 50px;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .feature-container {
    margin: 10px 0;
  }
  ul {
    list-style-position: inside;
  }

  .tech__stack {
    padding: 10px 0px;
    display: flex;
    align-items: normal;
    justify-content: center;
    width: 100%;
  }

  .tech__stack_icon {
    padding: 5px 10px;
  }

  .beez__img {
    height: 380px;
    /* position: r; */
  }

  .fa-solid,
  .fa-brands {
    color: grey;
    opacity: 0.6;
    font-size: 40px;
  }

  .firebase__img {
    opacity: 0.6;
    height: 50px;
  }

  .morphine__img {
    height: 380px;
    /* position: r; */
  }

  .duke__img {
    /* height: 650px; */
    width: 350px;
  }

  .javafx_img {
    opacity: 0.6;
    height: 60px;
  }
}
